  <header class="hero">
    <h1 class="app-title"><a href="/">Techlicious Trends</a></h1>
<nav class="nav">
    <ul>
      <li class="li-inline nav-item"><a href="/dashboard">View Posts</a></li>
      <li class="li-inline nav-item"><a href="/new-post" id="new-post-link">New Post</a></li>
      <li class="li-inline nav-item"><a href="/" id="logout-link">Logout</a></li>
    </ul>
  </nav>
 </header>