<form>
  <label for="title">Title</label><br>
  <input type="text" id="editTitle" name="editTitle"><br>
  <label for="content">Content:</label><br>
  <input type="text" id="editContent" name="editContent">
  <input type="submit" value="Edit Post">
  <input type="delete" value="Delete Post">
</form>