<form>
  <label for="title">Title</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="content">Content:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="submit" value="Post">
</form>