{{>navbar}}

<form>
  <label for="title">Title</label><br>
  <input type="text" id="title-input" name="title"><br>
  <label for="content">Content:</label><br>
  <input type="text" id="content-input" name="lname">
  <input type="submit" id="submit-button" value="Post">
</form>

<script src="/js/new.js"></script>