<form>
  <label for="username">Create Username:</label><br>
  <input type="text" id="createUsername" name="username"><br>
  <label for="pwd"> Create Password:</label><br>
  <input type="createPassword" id="pwd" name="pwd">
  <input type="submit" value="Sign up!">
</form>