<form id="signup-form">
  <label for="username">Create Username:</label><br>
  <input type="text" id="username-input-signup" name="username"><br>
  <label for="pwd"> Create Password:</label><br>
  <input type="createPassword" id="password-input-signup" name="pwd">
  <input id ="submit-account-button" type="submit" value="Sign up!">
</form>

<script src="/js/signup.js"></script>